@model List<MovieModel> 

@{
    ViewData["Title"] = "Home Page";
}
 <div class = "container-fluid headerbg">
    <h1>Movie Rental System</h1>
</div>
<br>
<section class = "container-fluid">
</section>
<br>
<div class = "container-fluid">
    <h3>Rent a Movie</h3>

    <a asp-controller="Movies" asp-action="Index"> Movies </a>

    <h3>Return a Movie</h3>

    <a asp-controller="Home" asp-action="Returned">Movie Returned</a>

    <h3>View all Overdue Movies</h3>

    <a asp-controller="Home" asp-action="Overdue">Overdue</a>

    <h3>Customers</h3>
    
    <a asp-controller="Customers" asp-action="Index">List of Customers</a>

</div>