@model List<MovieModel> 

@{
    ViewData["Title"] = "Home Page";
}
 <div class = "container-fluid headerbg">
    <h1>Movie Rental System</h1>
</div>
<br>
<section class = "container-fluid">
</section>
<br>
<div class = "container-fluid">
    <h3>Rent a Movie</h3>

    <h3>Return a Movie</h3>

    <h3>View all Overdue Movies</h3>
</div>